@model ASC.Web.Areas.Configuration.Models.MasterValuesViewModel
@using ASC.Model.Models
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    Layout = "_SecureLayout";
    var masterKeys = ViewBag.MasterKeys as List<MasterDataKey> ?? new List<MasterDataKey>();
}

<div>
    <div class="row"></div>

    <div class="row padding-top-20px padding-left-20px padding-right-20px">
        <div class="row z-depth-3">
            <div class="section white-text padding-left-10px blue-grey lighten-1">
                <h5>Master Values</h5>
            </div>
            <div class="divider"></div>

            <div class="col s4 padding-bottom-15px">
                <select id="ddlMasterKeys">
                    <option value="" selected>-- Select --</option>
                    @foreach (var key in masterKeys)
                    {
                        <option value="@key.PartitionKey">@key.Name</option>
                    }
                </select>
                <label>Partition Key</label>
            </div>

            <div class="col s4 offset-s4 padding-bottom-15px right-align">
                <a class="modal-trigger waves-effect waves-light" href="#modal1">
                    <img width = 50px src="@Url.Content("~/images/excel.png")" alt="Upload Excel" />
                </a>
            </div>

            <div class="col s12 padding-bottom-15px">
                <table class="highlight centered" id="tblMasterValues">
                    <thead>
                        <tr>
                            <th data-field="RowKey">Row Key</th>
                            <th data-field="PartitionKey">Partition Key</th>
                            <th data-field="Name">Name</th>
                            <th data-field="IsActive">Is Active</th>
                            <th data-field="Action">Edit</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="row"></div>

        <div class="row z-depth-3">
            <div class="col s12 padding-0px">
                <div class="section white-text padding-left-10px blue-grey lighten-1">
                    <h5>Master Value Details</h5>
                </div>
                <div class="divider"></div>

                <form id="formMasterValue" class="col s12">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <input type="hidden" id="IsEdit" value="false" />
                        <input type="hidden" id="MasterValue_RowKey" />
                        <input type="hidden" id="MasterValue_PartitionKey" />

                        <div class="input-field col s4">
                            <input id="Input_MasterValue_RowKey" disabled="disabled" />
                            <label for="Input_MasterValue_RowKey">Row Key</label>
                        </div>

                        <div class="input-field col s4">
                            <select id="Select_MasterValue_PartitionKey" required="required">
                                <option value="" selected>-- Select --</option>
                                @foreach (var key in masterKeys)
                                {
                                    <option value="@key.PartitionKey">@key.Name</option>
                                }
                            </select>
                            <label>Partition Key</label>
                        </div>

                        <div class="input-field col s4">
                            <input id="MasterValue_Name" class="validate" />
                            <label for="MasterValue_Name">Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s4">
                            <div class="switch">
                                <label>
                                    Is Active
                                    <input type="checkbox" id="MasterValue_IsActive" class="validate" />
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>

                        <div class="input-field col s8 right-align">
                            <button class="btn waves-effect waves-light btnSubmit" type="button" name="action">
                                Create
                                <i class="material-icons right">send</i>
                            </button>

                            <button class="btn waves-effect waves-light reset red lighten-1" type="button" name="action">
                                Reset
                            </button>
                        </div>

                        <div class="row col s12 right-align red-text" id="validationMessage"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Upload Excel</h4>
        <p>Upload the Excel file that contains all the master values.</p>

        <div class="row hide divErrors">
            <div class="col s12">
                <div class="card-panel red lighten-1">
                    <span class="white-text errors"></span>
                </div>
            </div>
        </div>

        <div class="progress hide">
            <div class="indeterminate"></div>
        </div>

        <form id="uploadExcelForm" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" id="files" name="files" />
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" />
                </div>
            </div>

            <div class="input-field row right">
                <button class="btn waves-effect waves-light btnUpload" type="button" name="action">
                    Upload
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $('select').formSelect();

            var token = $('input[name="__RequestVerificationToken"]').first().val();

            $.ajaxSetup({
                cache: false,
                headers: { 'RequestVerificationToken': token }
            });

            var table = $('#tblMasterValues').DataTable({
                ajax: {
                    url: '@Url.Action("MasterValuesByKey", "MasterData", new { area = "Configuration" })',
                    type: 'GET',
                    data: function (d) {
                        d.key = $('#ddlMasterKeys').val() || '';
                    },
                    dataSrc: 'data'
                },
                pageLength: 3,
                lengthMenu: [[3, 5, 10, -1], [3, 5, 10, 'All']],
                columns: [
                    { data: 'rowKey' },
                    { data: 'partitionKey' },
                    { data: 'name' },
                    {
                        data: 'isActive',
                        render: function (data) {
                            if (data === true) {
                                return '<img width = 50px src="@Url.Content("~/images/green_tick.png")" />';
                            }
                            return '<img width = 50px src="@Url.Content("~/images/red_cross.png")" />';
                        }
                    },
                    {
                        data: null,
                        orderable: false,
                        render: function () {
                            return '<i class="small material-icons edit cursor-hand">mode_edit</i>';
                        }
                    }
                ]
            });

            $('#tblMasterValues').css('width', '100%');
            $('select[name="tblMasterValues_length"]').formSelect();

            $(document).on('change', '#ddlMasterKeys', function () {
                var selectedKey = $(this).val();

                $('#Select_MasterValue_PartitionKey').formSelect('destroy');
                $('#Select_MasterValue_PartitionKey').removeAttr('disabled');
                $('#Select_MasterValue_PartitionKey').val(selectedKey || '');
                $('#Select_MasterValue_PartitionKey').formSelect();

                $('#MasterValue_PartitionKey').val(selectedKey || '');

                table.ajax.reload();
            });

            $(document).on('click', '.reset', function () {
                resetFormOnly($('#ddlMasterKeys').val());
            });

            $(document).on('click', '.edit', function () {
                var row = $('#tblMasterValues').DataTable().row($(this).parents('tr')).data();

                if (!row) {
                    $('#validationMessage').text('Cannot load selected row.');
                    return;
                }

                $('#IsEdit').val('true');

                $('#MasterValue_RowKey').val(row.rowKey);
                $('#Input_MasterValue_RowKey').val(row.rowKey);
                $('label[for="Input_MasterValue_RowKey"]').addClass('active');

                $('#MasterValue_PartitionKey').val(row.partitionKey);

                $('#ddlMasterKeys').formSelect('destroy');
                $('#ddlMasterKeys').val(row.partitionKey);
                $('#ddlMasterKeys').formSelect();

                $('#Select_MasterValue_PartitionKey').formSelect('destroy');
                $('#Select_MasterValue_PartitionKey').val(row.partitionKey);
                $('#Select_MasterValue_PartitionKey').attr('disabled', 'disabled');
                $('#Select_MasterValue_PartitionKey').formSelect();

                $('#MasterValue_Name').val(row.name);
                $('label[for="MasterValue_Name"]').addClass('active');

                $('#MasterValue_IsActive').prop('checked', row.isActive === true);

                $('.btnSubmit').text('Save');
                $('#validationMessage').text('');
                M.updateTextFields();
            });

            $(document).on('click', '.btnSubmit', function () {
                var selectedPartitionKey = $('#Select_MasterValue_PartitionKey').val();

                if (!selectedPartitionKey) {
                    $('#validationMessage').text('Please select a Partition Key.');
                    return;
                }

                if (!$('#MasterValue_Name').val()) {
                    $('#validationMessage').text('Name is required.');
                    return;
                }

                var postData = {
                    isEdit: $('#IsEdit').val() === 'true',
                    RowKey: $('#MasterValue_RowKey').val(),
                    PartitionKey: selectedPartitionKey,
                    Name: $('#MasterValue_Name').val(),
                    IsActive: $('#MasterValue_IsActive').is(':checked')
                };

                $.post('@Url.Action("MasterValues", "MasterData", new { area = "Configuration" })', {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').first().val(),
                    isEdit: postData.isEdit,
                    RowKey: postData.RowKey,
                    PartitionKey: postData.PartitionKey,
                    Name: postData.Name,
                    IsActive: postData.IsActive
                }, function (response) {
                    if (response.success) {
                        $('#ddlMasterKeys').formSelect('destroy');
                        $('#ddlMasterKeys').val(selectedPartitionKey);
                        $('#ddlMasterKeys').formSelect();

                        table.ajax.reload(null, false);
                        resetFormOnly(selectedPartitionKey);
                    } else {
                        $('#validationMessage').text(response.message || 'Save failed.');
                    }
                }).fail(function () {
                    $('#validationMessage').text('An error occurred while saving.');
                });
            });

            $(document).on('click', '.btnUpload', function () {
                var fileUpload = $('#files').get(0);
                var files = fileUpload.files;
                var data = new FormData();

                if (!files || files.length === 0) {
                    $('.divErrors').removeClass('hide');
                    $('.errors').html('Please choose an Excel file.');
                    return;
                }

                $.each(files, function (i) {
                    data.append('files', files[i]);
                });

                data.append('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').first().val());

                $('.progress').removeClass('hide');
                $('.divErrors').addClass('hide');
                $('.errors').html('');

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadExcel", "MasterData", new { area = "Configuration" })',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (message) {
                        $('.progress').addClass('hide');

                        if (message.success) {
                            window.location.reload();
                        } else {
                            $('.divErrors').removeClass('hide');
                            $('.errors').html(message.message || 'Upload failed.');
                        }
                    },
                    error: function () {
                        $('.progress').addClass('hide');
                        $('.divErrors').removeClass('hide');
                        $('.errors').html('An error occurred while uploading.');
                    }
                });
            });

            function resetFormOnly(selectedKey) {
                $('#formMasterValue')[0].reset();
                $('#IsEdit').val('false');
                $('#MasterValue_RowKey').val('');
                $('#Input_MasterValue_RowKey').val('');
                $('#MasterValue_PartitionKey').val(selectedKey || '');
                $('#validationMessage').text('');
                $('.btnSubmit').text('Create');

                $('#Select_MasterValue_PartitionKey').formSelect('destroy');
                $('#Select_MasterValue_PartitionKey').removeAttr('disabled');
                $('#Select_MasterValue_PartitionKey').val(selectedKey || '');
                $('#Select_MasterValue_PartitionKey').formSelect();

                $('#MasterValue_IsActive').prop('checked', false);
                $('#MasterValue_Name').val('');

                M.updateTextFields();
            }
        });
    </script>
}