@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model ASC.Web.Areas.Accounts.Models.ServiceEngineerViewModel
@inject UserManager<IdentityUser> userManager

@{
    Layout = "_SecureLayout";
}

<div>
    <div class="row"></div>
    <div class="row padding-left-20px padding-right-20px">
        <div class="row z-depth-3">
            <div class="section white-text padding-left-10px blue-grey lighten-1">
                <h5>Users</h5>
            </div>
            <div class="divider"></div>

            <div class="col s12 padding-bottom-15px">
                @if (Model.ServiceEngineers != null)
                {
                    <table class="highlight centered" id="tblServiceEngineers">
                        <thead>
                            <tr>
                                <th data-field="Email">Email</th>
                                <th data-field="UserName">User Name</th>
                                <th data-field="IsActive">Is Active</th>
                                <th data-field="IsActiveImg">Is Active</th>
                                <th data-field="Action">Edit User</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.ServiceEngineers)
                            {
                                var identity = await userManager.GetClaimsAsync(user);
                                var isActiveClaim = identity.SingleOrDefault(p => p.Type == "IsActive");
                                var isActive = false;

                                if (isActiveClaim != null)
                                {
                                    bool.TryParse(isActiveClaim.Value, out isActive);
                                }

                                <tr>
                                    <td>@user.Email</td>
                                    <td>@user.UserName</td>
                                    <td>@isActive</td>
                                    <td>
                                        <img src='@(isActive ? "/images/green_tick.png" : "/images/red_cross.png")' />
                                    </td>
                                    <td>
                                        <i class="small material-icons edit cursor-hand">edit</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="card blue-grey lighten-1">
                        <div class="card-content white-text">
                            <span class="card-title">No Service Engineers!!!</span>
                            <p>
                                No Service Engineers found, please add a Service Engineer to system.
                            </p>
                        </div>
                    </div>
                }
            </div>

            <div class="row z-depth-3">
                <div class="col s12 padding-0px">
                    <div class="section white-text padding-left-10px blue-grey lighten-1">
                        <h5>Service Engineer Details</h5>
                    </div>

                    <div class="divider"></div>

                    <form asp-controller="Account"
                          asp-action="ServiceEngineers"
                          method="post"
                          class="col s12"
                          id="fromUser">

                        @Html.AntiForgeryToken()

                        <input type="hidden" asp-for="Registration.IsEdit" />
                        <input type="hidden" asp-for="Registration.Email" />

                        <div class="row">
                            <div class="input-field col s4">
                                <input asp-for="Registration.Email" id="Input_Registration_Email" />
                                <label asp-for="Registration.Email"></label>
                            </div>

                            <div class="input-field col s4">
                                <input asp-for="Registration.UserName" class="validate" />
                                <label asp-for="Registration.UserName"></label>
                            </div>

                            <div class="input-field col s4">
                                <input asp-for="Registration.Password" class="validate" />
                                <label asp-for="Registration.Password"></label>
                            </div>

                            <div class="input-field col s4">
                                <input asp-for="Registration.ConfirmPassword" class="validate" />
                                <label asp-for="Registration.ConfirmPassword"></label>
                            </div>

                            <div class="input-field col s4">
                                <div class="switch">
                                    <label>
                                        Is Active
                                        <input asp-for="Registration.IsActive" class="validate" />
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="input-field col s4 right-align">
                                <button class="btn waves-effect waves-light btnSubmit" type="submit" name="action">
                                    Create
                                    <i class="material-icons right">send</i>
                                </button>

                                <button class="btn waves-effect waves-light reset red lighten-1" type="button" name="action">
                                    Reset
                                </button>
                            </div>

                            <div class="row col s12 right-align" asp-validation-summary="All"></div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            var table = $('#tblServiceEngineers').DataTable({
                "pageLength": 3,
                "lengthMenu": [[3, 5, 10, -1], [3, 5, 10, "All"]]
            });

            $('#tblServiceEngineers').css("width", "100%");
            $('select[name="tblServiceEngineers_length"]').formSelect();

            var isActiveColumn = table.column(2);
            isActiveColumn.visible(false);

            $(document).on('click', '.reset', function () {
                $('#fromUser')[0].reset();
                $('#Input_Registration_Email').removeAttr('disabled');
                $('.btnSubmit').text('Create');
                $('#Registration_IsEdit').val('False');

                M.updateTextFields();
            });

            if ($('#Registration_IsEdit').val() === "True") {
                $('#Input_Registration_Email').attr('disabled', 'disabled');
            }

            $(document).on('click', '.edit', function () {
                var user = $('#tblServiceEngineers').DataTable().row($(this).parents('tr')).data();

                $('#Registration_IsEdit').val('True');
                $('#Input_Registration_Email').val(user[0]);
                $('#Input_Registration_Email').attr('disabled', 'disabled');

                $('#Registration_UserName').val(user[1]);
                $('#Registration_UserName').addClass('valid');

                $('#Registration_IsActive').prop('checked', user[2] === 'True' ? true : false);
                $('.btnSubmit').text('Save');

                M.updateTextFields();
            });

            $(document).on('click', '.btnSubmit', function () {
                $('#Registration_Email').val($('#Input_Registration_Email').val());
                M.updateTextFields();
            });
        });
    </script>
}